<h1>Willy Wonka's Wacky Factory Jobs</h1>
<% @jobs.each do |job| %>
  <h3><%= job.title %></h3>
  <p><%= job.description %></p>
  <p><%= job.pay %></p>
  <p><%= job.location %></p>
  <h5><%= link_to "Edit Posting", edit_job_path(job)%></h5>
<% end %>
